<h1>Please use the following URLs for get and post method request</h1>
<p>
For a get request task, click the folloing link and enter the query string
<a href =" http://52.37.250.27:3000/getRequest?my name=yoon kim&city=houston " > here </a></p>
<p>
For a post reuest, download Advanced REST client <a href ="https://chrome.google.com/webstore/search/advanced%20rest%20client?hl=en-US "> here </a></p>
<h2>Post request result<h2>
<h4>Using the ARC and entering JSON format key-value pairs enclosed by the double quotes, the post request will be displayed on the ARC tool.</h4>


